/* System Settings */

:root {
    --color-gold: #D7B56D;
    --color-beige: #F4F3E4;
    --color-black: #1D1D1D;
    --color-light-black: #1F1F1F;
    --color-lighter-black: #262626;
    --color-white: #FFFFFF;
    --color-gray: #4E4E4E;
    --color-light-gray: #929493;
    --color-lighter-gray: #E5E5E5;
    --color-lighter-gray-2: #E7E7E7;

    --font-roman: 'HelveticanNeueCyr-Roman';
    --font-bold: 'HelveticanNeueCyr-Bold';
    --font-medium: 'HelveticanNeueCyr-Medium';
    --font-light: 'HelveticanNeueCyr-Light';
}

html {
    font-family: var(--font-roman);
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

a, p, h1, h2, h3, button {
    line-height: 130%;
}

/*
    ====================================================================================================
    Header, Navigation
    ====================================================================================================
*/

.header {
    height: 92px;

    background-color: var(--color-black);
}

.header > div {
    padding: 19px 0 13px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > img {
    width: 218px;
    height: 51px;
}

.navigation-list {
    display: flex;
    gap: 27px;
}

.navigation-list a {
    color: var(--color-white);

    font-size: 14px;

    text-decoration: none;
    text-transform: uppercase;
}

.navigation-list-item:first-child a {
    color: var(--color-gold);

    text-decoration: underline;

    position: relative;
}

.navigation-list-item:first-child a::before {
    content: '';

    width: 16px;
    height: 16px;

    position: absolute;
    top: 100%;
    left: 38%;

    background-image: url(/assets/ArrowSelect.svg);
    background-repeat: no-repeat;

    pointer-events: none;
}

.callback {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.callback a, .callback p {
    color: var(--color-gold);

    text-decoration: none;
}

.callback p:first-child {
    font-family: var(--font-medium);
    font-size: 20px;
}

.callback p:first-child::before {
    content: '';

    width: 16px;
    height: 16px;

    margin: 2px 10px 0 0;

    position: relative;
    float: left;

    background-image: url(/assets/IconTelephone.svg);
}

.callback a:last-child {
    font-size: 12px;

    margin-left: 26px;

    text-decoration: underline;
    text-transform: uppercase;
}

/*
    ====================================================================================================
    Main Section
    ====================================================================================================
*/

.main-section {
    height: 812px;

    position: relative;

    background-image: url(/assets/SectionMain/MainHero.png);
    background-size: cover;

}

.gradient-rectangle {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 0;

    width: 80%;
    height: 661px;

    background-image: radial-gradient(at 5% 100%, var(--color-lighter-black) 50%, var(--color-white) 100%);

    opacity: 30%;
}

.vector-design {
    position: absolute;
    top: 0;
    right: 0;

    z-index: 0;

    width: 70%;
    height: 100%;
}

.vector-design img {
    position: absolute;
}

.vector-design img:nth-child(1) {
    bottom: 0px;
    right: 115.17px;
}

.vector-design img:nth-child(2) {
    top: 115.29px;
    left: 12.02px;
}

.vector-design img:nth-child(3) {
    top: 113.2px;
    left: 39.56px;
}

.vector-design img:nth-child(4) {
    bottom: 8.83px;
    right: 71.02px;
}

.vector-design img:nth-child(5) {
    top: 253.12px;
    left: 366.33px;
}

.vector-design img:nth-child(6) {
    bottom: 64.93px;
    left: 427.36px;
}

.vector-design img:nth-child(7) {
    bottom: 283.73px;
    right: 257.66px;
}

.vector-design img:nth-child(8) {
    top: 197.77px;
    right: 201.7px;
}

.vector-design img:nth-child(9) {
    bottom: 83.35px;
    left: 0;
}

.vector-design img:nth-child(10) {
    top: 107.08px;
    left: 178.98px;
}

.vector-design img:nth-child(11) {
    bottom: 5.99px;
    right: 272.02px;
}

.main-section-content {
    height: 100%;

    position: relative;

    z-index: 1;
}

.offer {
    position: absolute;
    top: 179px;
    left: 15%;

    z-index: 2;

    width: 572px;
    height: 345px;
}

.offer h1 {
    font-size: 64px;
    font-family: var(--font-bold);
    line-height: 120%;

    color: var(--color-white);

    margin-bottom: 57px;
}

.submit {
    position: relative;

    width: 255px;
    height: 50px;
}

.submit button {
    position: relative;

    z-index: 2;

    font-size: 14px;
    font-family: var(--font-roman);

    text-transform: uppercase;

    color: var(--color-black);
    background-color: var(--color-white);

    width: inherit;
    height: inherit;

    border-radius: 2px;
}

.submit div {
    position: absolute;
    top: 7px;
    left: 6px;

    width: 100%;
    height: 100%;

    border: 1px solid var(--color-gold);
    border-radius: 2px;

    pointer-events: none;
}

.scroll {
    width: 100%;
    height: 458px;

    position: absolute;

    bottom: 27px;
}

.scroll img {
    position: absolute;
    bottom: 81px;
    left: 50%;

    transform: translateX(-50%);
}

.arrows-white {
    display: flex;
    justify-content: space-between;
}

.arrows-white button {
    width: 55px;
    height: 55px;
}

.arrows-white button:first-child {
    background-image: url(/assets/ArrowLeftWhite.svg);
}

.arrows-white button:last-child {
    background-image: url(/assets/ArrowRightWhite.svg);
}

.arrow-down {
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);

    width: 44px;
    height: 44px;

    background-image: url(/assets/ArrowDown.svg);
}

/*
    ====================================================================================================
    Advantages Section
    ====================================================================================================
*/

.advantages-section {
    height: 348px;

    background-color: var(--color-white);
}

.advantages-section-content {
    padding-top: 61px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.advantages-section h2 {
    font-size: 36px;
    font-family: var(--font-roman);
}

.advantages {
    display: flex;
    gap: 32px;
}

.advantages div {
    width: 255px;
    height: 122px;

    text-align: center;
}

.advantages hr {
    width: 100%;
    height: 6px;

    background-color: var(--color-gold);
}

.advantages h1 {
    font-size: 64px;
    font-family: var(--font-bold);

    margin: 6px 0;
}

.advantages span {
    font-size: 40px;
}

.advantages p {
    font-size: 16px;
    font-family: var(--font-roman);

    color: var(--color-black);
}

/* Work Principles Section */

.work-principles-section {
    height: 685px;

    background-color: var(--color-black);
}

.work-principles-section-content {
    padding-top: 53px;

    display: flex;
    flex-direction: column;
    gap: 75px;
}

.work-principles-section h2 {
    font-size: 36px;
    font-family: var(--font-roman);

    color: var(--color-white);
}

.work-principles-section-more {
    height: 440px;

    display: flex;
    gap: 127px;
}

.work-principles-section-photos {
    position: relative;

    width: 540px;
}

.work-principles-section-border {
    position: absolute;
    top: 0;
    left: -35px;

    width: 422px;
    height: 100%;

    border: 0.5px solid var(--color-gold);
    border-radius: 2px;

    pointer-events: none;
}

.work-principles-section-grid {
    height: 374px;

    margin: 33px 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 26px;
}

.work-principles-section-grid img {
    border-radius: 2px;

    z-index: 2;
}

.work-principles-section-grid img:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.work-principles-section-grid img:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.work-principles-section-grid img:last-child {
    grid-column: 2 / 3;
    grid-row: 1 / span 2;
}

.work-principles-section-text {
    width: 285px;

    display: flex;
    flex-direction: column;
    gap: 9px;
}

.work-principles-section-text div {
    height: 80.5px;
}

.work-principles-section-text div hr {
    width: 100%;
    height: 0.5px;

    background-color: var(--color-white);

    opacity: 50%;
}

.work-principles-section-text div p {
    color: var(--color-white);
}

.work-principles-section-text div p:first-of-type {
    opacity: 50%;

    margin: 2.5px 0 9px 0;
}

/*
    ====================================================================================================
    Custom-Made Section
    ====================================================================================================
*/

.custommade-section {
    height: 1338px;

    background-color: var(--color-beige);
}

.custommade-section-content {
    padding-top: 77px;

    display: flex;
    flex-direction: column;
    gap: 38px;
}

.custommade-section-text {
    width: 100%;
    height: 163px;

    display: flex;
    gap: 99px;
}

.custommade-section-content h2 {
    font-size: 36px;
    font-family: var(--font-roman);

    width: 376px;
}

.custommade-section-text-more {
    width: 634px;

    display: flex;
    flex-direction: column;
    gap: 22px;
}

.custommade-section-text-more hr {
    width: 348px;
    height: 4px;

    background-color: var(--color-black);
}

.custommade-section-photos {
    position: relative;

    width: 100%;
    height: 905px;
}

.custommade-section-grid {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 222px 15px 222px 16px 310px 15px 310px;
    grid-template-rows: 1fr 13px 1fr 14px 1fr 14px 1fr;
}

.custommade-section-grid > div {
    position: relative;
}

.custommade-section-grid div:nth-child(1) {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
}

.custommade-section-grid div:nth-child(2) {
    grid-column: 5 / 6;
    grid-row: 1 / 4;
}

.custommade-section-grid div:nth-child(3) {
    grid-column: 7 / 8;
    grid-row: 1 / 2;
}

.custommade-section-grid div:nth-child(4) {
    grid-column: 7 / 8;
    grid-row: 3 / 4;
}

.custommade-section-grid div:nth-child(5) {
    grid-column: 5 / 8;
    grid-row: 5 / 6;
}

.custommade-section-grid div:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}

.custommade-section-grid div:nth-child(7) {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.custommade-section-grid div:nth-child(8) {
    grid-column: 1 / 4;
    grid-row: 7 / 8;
}

.custommade-section-grid div:nth-child(9) {
    grid-column: 5 / 8;
    grid-row: 7 / 8;
}

.custommade-section-grid div {
    border-radius: 2px;

    z-index: 2;
}

.custommade-section-grid-more {
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    left: 0;
    bottom: 0;

    color: var(--color-white);
    background-color: rgb(29 29 29 / 70%); /* var(--color-black) */
}

.square-large {
    font-size: 24px;
    font-family: var(--font-roman);

    padding-left: 34px;
    padding-right: 19px;
}

.square-wide {
    font-size: 24px;
    font-family: var(--font-roman);

    padding-left: 34px;
    padding-right: 24px;
}

.square-ultrawide {
    font-size: 24px;
    font-family: var(--font-roman);

    padding-left: 34px;
    padding-right: 16px;
}

.square-high {
    font-size: 20px;
    font-family: var(--font-roman);

    padding-left: 20px;
    padding-right: 16px;
}

.square-high h3 {
    width: 148px;
}

.square-medium {
    font-size: 20px;
    font-family: var(--font-roman);

    padding-left: 23px;
    padding-right: 16px;
}

.square-medium h3 {
    width: 138px;
}

.square-small {
    font-size: 18px;
    font-family: var(--font-roman);

    flex-direction: column;
    align-items: start;

    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 11px;
}

.more {
    width: 110px;
    height: 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custommade-section-grid-more .more a {
    font-size: 14px;
    font-family: var(--font-roman);

    color: var(--color-gold);

    text-decoration: underline;
}

.custommade-section-border {
    width: 1526px;
    height: 837px;

    border: 0.5px solid var(--color-black);
    border-radius: 2px;

    position: absolute;
    top: 131px;
    left: -207px;

    pointer-events: none;
}

/*
    ====================================================================================================
    Production Section
    ====================================================================================================
*/

.production-section {
    height: 588px;

    background-color: var(--color-white);
}

.production-section-content {
    padding-top: 59px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.production-section-text {
    width: 100%;
    height: 203px;

    display: flex;
    gap: 138px;
}

.production-section-text h2 {
    font-size: 36px;
    font-family: var(--font-roman);

    width: 337px;
}

.production-section-text-more {
    width: 629px;

    display: flex;
    flex-direction: column;
    gap: 33px;
}

.production-section-text-more hr {
    width: 350px;
    height: 4px;

    background-color: var(--color-gold);
}

.production-section-video {
    width: 920px;
    height: 450px;

    margin: 0 auto;

    position: relative;
}

.video-background {
    border-radius: 2px;
}

.video-button {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.production-section-video p {
    position: absolute;
    bottom: 143px;
    left: 50%;

    transform: translateX(-50%);

    width: 164px;

    font-size: 12px;
    font-family: var(--font-roman);

    color: var(--color-white);

    text-align: center;

    line-height: 111%;
}

/*
    ====================================================================================================
    Implementation Section
    ====================================================================================================
*/

.implementation-section {
    height: 762px;

    background-color: var(--color-black);
}

.implementation-section-content {
    padding-top: 220px;

    display: flex;
    align-items: end;
    gap: 116px;
}

.implementation-section-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 424px;
    height: 480px;
}

.implementation-section-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 370px;
    height: 133px;

    color: var(--color-white);
}

.implementation-section-text h2 {
    font-size: 36px;
    font-family: var(--font-roman);

    line-height: 111%;
}

.implementation-section-text p {
    font-size: 18px;
    font-family: var(--font-roman);
}

.implementation-section-form {
    position: relative;

    width: 381px;
    height: 286px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-tel, .input-com {
    width: 378px;

    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;

    background-color: var(--color-gray);
    color: var(--color-white);
}

.input-tel {
    height: 46px;

    padding: 16px 16px 16px 64px;

    background-image: url(/assets/IconTelephoneWhite.svg);
    background-size: 14px 14px;
    background-position: 16px 50%;
    background-repeat: no-repeat;
}

.input-tel::placeholder {
    color: var(--color-white);
}

.input-com {
    height: 117px;

    padding: 17px 13px 16px 45px;

    background-image: url(/assets/IconWriteWhite.svg);
    background-size: 14px 14px;
    background-position: 13px 16px;
    background-repeat: no-repeat;

    resize: none;
    outline: none;
}

.input-com::placeholder {
    color: var(--color-white);

    opacity: 50%;
}

.input-file {
    width: 138px;
    height: 18px;

    font-size: 14px;
    font-family: var(--font-light);

    color: var(--color-light-gray);

    position: relative;
}

.input-file::before {
    content: '';

    width: 18px;
    height: 18px;

    margin-right: 6px;

    position: relative;
    float: left;

    background-image: url(/assets/IconLinkWhite.svg);
    background-repeat: no-repeat;
}

.file-upload {
    display: none;
}

.input-send {
    width: 187px;
    height: 46px;

    font-size: 14px;
    font-family: var(--font-roman);

    color: var(--color-black);
    background-color: var(--color-gold);

    border-radius: 2px;
}

.implementation-section-agree {
    width: 421px;
    height: 17px;

    display: flex;

    align-items: center;
}

.check-agree {
    width: 17px;
    height: 17px;

    appearance: none;

    box-shadow: inset 0 0 0 1px var(--color-lighter-gray-2);
    background-color: var(--color-light-black);

    cursor: pointer;
}

.check-agree:hover {
    box-shadow: inset 0 0 0 2px var(--color-beige);
    background-color: var(--color-gray);
}

.check-agree:checked {
    background-color: var(--color-gold);
}

.check-text {
    font-size: 12px;

    color: var(--color-light-gray);

    margin-left: 12px;
}

.implementation-section-misc {
    position: relative;

    width: 564px;
    height: 488.49px;
}

.implementation-section-misc img {
    position: absolute;
    bottom: 0;
    right: 0;

    z-index: 2;
}

.implementation-section-border {
    position: absolute;
    top: 0;
    left: 0;

    border: 0.5px solid var(--color-gold);
    border-radius: 2px;

    width: 505.77px;
    height: 442.12px;

    pointer-events: none;
}

/*
    ====================================================================================================
    Scheme of Work Section
    ====================================================================================================
*/

.scheme-of-work-section {
    height: 421px;
}

.scheme-of-work-section-content {
    width: 953px;

    padding-top: 59px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    text-align: center;
}

.scheme-of-work-section-content h2 {
    font-size: 36px;
    font-family: var(--font-roman);
}

.scheme-of-work-section-scheme {
    height: 248px;

    display: flex;
    flex-wrap: wrap;

    column-gap: 28px;
    row-gap: 15px;
}

.scheme-of-work-section-stage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 208px;
    height: 106px;
}

.scheme-of-work-section-stage p {
    text-align: left;
}

.scheme-of-work-section-stage:nth-of-type(1) p {
    width: 180px;
}

.scheme-of-work-section-step {
    display: flex;
    align-items: center;

    gap: 20px;
}

.scheme-of-work-section-step hr {
    width: 138px;
    height: 4px;

    background-color: var(--color-gold);

    border-radius: 1px;
}

.circle {
    position: relative;

    width: 50px;
    height: 50px;

    background-color: var(--color-gold);

    border-radius: 50%;
}

.circle h3 {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    font-family: var(--font-medium);
    font-size: 20px;
}

.stage-tall {
    height: 127px;
}

.stage-wide {
    width: 245px;
}

.stage-short {
    height: 85px;
}

.stage-thin {
    width: 181px;
}

/*
    ====================================================================================================
    Projects
    (Our Works Section)
    ====================================================================================================
*/

.projects {
    height: 682px;

    padding-top: 47px;

    text-align: center;
}

.projects__content {
    height: 542px;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 39px;
}

.projects__content h2 {
    font-size: 36px;
    font-family: var(--font-roman);
}

.projects__cards {
    width: 100%;
    height: 390px;

    display: flex;
    align-items: center;
    gap: 23px;
}

.card {
    width: 300px;
    height: 270px;

    position: relative;

    z-index: 2;
}

.card_center {
    width: 466px;
    height: 390px;

    position: relative;
}

.card_center p {
    font-size: 20px;
}

.card__info {
    width: 100%;
    height: 70px;

    position: absolute;
    bottom: 0;
    left: 0;

    text-align: left;

    color: var(--color-white);
    background-color: rgb(29 29 29 / 70%); /* var(--color-black) */
}

.card__text {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding-left: 20px;

    font-size: 16px;
    font-family: var(--font-roman);
}

.card__text p {
    line-height: 107.5%;
}

.card__text a {
    font-size: 14px;
    font-family: var(--font-roman);

    color: var(--color-gold);
}

.projects__scroll {
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);
}

.projects__border {
    width: 1526px;
    height: 266px;

    position: absolute;
    top: 62px;
    left: -217px;

    border: 0.5px solid var(--color-black);
    border-radius: 2px;

    pointer-events: none;
}

/*
    ====================================================================================================
    Partnership
    (Who Did We Work With Section)
    ====================================================================================================
*/

.partnership {
    height: 535px;

    padding-top: 64px;

    text-align: center;

    background-color: var(--color-beige);
}

.partnership__content {
    width: 1006px;
    height: 437px;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 53px;
}

.partnership__content h2 {
    font-size: 36px;
    font-family: var(--font-roman);
}

.partnership__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    column-gap: 80px;
    row-gap: 51px;
}

.partnership__scroll {
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);
}

/*
    ====================================================================================================
    Geography
    (Projects Geography Section)
    ====================================================================================================
*/

.geography {
    height: 770px;

    padding-top: 35px;

    text-align: center;

    background-color: var(--color-beige);
}

.geography__content {
    width: 1125px;
    height: 680px;

    display: flex;
    flex-direction: column;
    gap: 31px;
}

.geography__content h2 {
    font-size: 36px;
    font-family: var(--font-roman);
}

/*
    ====================================================================================================
    Thanks
    (Letters of Thanks Section)
    ====================================================================================================
*/

.thanks {
    height: 634px;

    padding-top: 88px;

    text-align: left;
}

.thanks__content {
    height: 452px;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 41px;
}

.thanks__content h2 {
    font-size: 36px;
    font-family: var(--font-roman);
}

.thanks__letters {
    width: 974px;

    display: flex;
    justify-content: space-between;

    margin: 0 auto;
}

.thanks__scroll {
    width: 100%;
    height: 226px;

    position: absolute;
    bottom: 0;
}

.arrows-black {
    display: flex;
    justify-content: space-between;
}

.arrows-black button {
    width: 35px;
    height: 35px;
}

.arrows-black button:first-child {
    background-image: url(/assets/ArrowLeftBlack.svg);
}

.arrows-black button:last-child {
    background-image: url(/assets/ArrowRightBlack.svg);
}

.thanks__scroll img {
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);
}

/*
    ====================================================================================================
    Contacts
    ====================================================================================================
*/

.contacts {
    height: 450px;

    position: relative;

    color: var(--color-white);

    background-color: var(--color-black);
}

.contacts__content {
    padding-top: 49px;
}

.contacts__main {
    width: 540px;

    display: flex;
    flex-direction: column;
    gap: 43px;
}

.contacts__main h2 {
    width: 310px;

    font-size: 24px;
    font-family: var(--font-roman);
}


.contacts__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.list-item div {
    display: flex;
    gap: 16px;
}

.contacts__call {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.call-item__title {
    font-size: 14px;
    font-family: var(--font-light);
}

.call-item__tel {
    display: flex;
}

.call-item__input {
    height: 46px;
    width: 317px;

    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;

    background-color: var(--color-gray);
    color: var(--color-white);

    padding: 16px 16px 16px 64px;

    background-image: url(/assets/IconTelephoneWhite.svg);
    background-size: 14px 14px;
    background-position: 16px 50%;
    background-repeat: no-repeat;
}

.call-item__send {
    width: 126px;

    color: var(--color-black);

    background-color: var(--color-gold);

    border-radius: 0 2px 2px 0;
}

.call-item__agree {
    width: 421px;
    height: 17px;

    display: flex;

    align-items: center;
}

.call-item__check-agree {
    width: 17px;
    height: 17px;

    appearance: none;

    box-shadow: inset 0 0 0 1px var(--color-lighter-gray-2);
    background-color: var(--color-light-black);

    cursor: pointer;
}

.call-item__check-agree:hover {
    box-shadow: inset 0 0 0 2px var(--color-beige);
    background-color: var(--color-gray);
}

.call-item__check-agree:checked {
    background-color: var(--color-gold);
}

.call-item__check-text {
    font-size: 12px;

    color: var(--color-light-gray);

    margin-left: 12px;
}

.contacts__map {


    position: absolute;
    bottom: 0;
    right: 0;
}