/* System Settings */

:root {
    --color-gold: #D7B56D;
    --color-beige: #F4F3E4;
    --color-black: #1D1D1D;
    --color-light-black: #1F1F1F;
    --color-lighter-black: #262626;
    --color-white: #FFFFFF;
    --color-gray: #4E4E4E;
    --color-light-gray: #929493;
    --color-lighter-gray: #E5E5E5;
    --color-lighter-gray-2: #E7E7E7;

    --font-roman: 'HelveticanNeueCyr-Roman';
    --font-bold: 'HelveticanNeueCyr-Bold';
    --font-medium: 'HelveticanNeueCyr-Medium';
    --font-light: 'HelveticanNeueCyr-Light';
}

html {
    font-family: var(--font-roman);
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

/* Header, Navigation */

.header {
    height: 92px;

    background-color: var(--color-black);
}

.header > div {
    padding: 19px 0 13px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > img {
    width: 218px;
    height: 51px;
}

.navigation-list {
    display: flex;
    gap: 27px;
}

.navigation-list a {
    color: var(--color-white);

    font-size: 14px;

    text-decoration: none;
    text-transform: uppercase;
}

.navigation-list-item:first-child a {
    color: var(--color-gold);

    text-decoration: underline;

    position: relative;
}

.navigation-list-item:first-child a::before {
    content: '';

    width: 16px;
    height: 16px;

    position: absolute;
    top: 100%;
    left: 38%;

    background-image: url(/assets/ArrowSelect.svg);
    background-repeat: no-repeat;

    pointer-events: none;
}

.callback {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.callback a, p {
    color: var(--color-gold);

    text-decoration: none;
}

.callback p:first-child {
    font-family: var(--font-medium);
    font-size: 20px;
}

.callback p:first-child::before {
    content: '';

    width: 16px;
    height: 16px;

    margin: 2px 10px 0 0;

    position: relative;
    float: left;

    background-image: url(/assets/IconTelephone.svg);
}

.callback a:last-child {
    font-size: 14px;

    margin-left: 26px;

    text-decoration: underline;
    text-transform: uppercase;
}