/* System Settings */

:root {
    --color-gold: #D7B56D;
    --color-beige: #F4F3E4;
    --color-black: #1D1D1D;
    --color-light-black: #1F1F1F;
    --color-lighter-black: #262626;
    --color-white: #FFFFFF;
    --color-gray: #4E4E4E;
    --color-light-gray: #929493;
    --color-lighter-gray: #E5E5E5;
    --color-lighter-gray-2: #E7E7E7;

    --font-roman: 'HelveticanNeueCyr-Roman';
    --font-bold: 'HelveticanNeueCyr-Bold';
    --font-medium: 'HelveticanNeueCyr-Medium';
    --font-light: 'HelveticanNeueCyr-Light';
}

html {
    font-family: var(--font-roman);
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

/* Header, Navigation */

.header {
    height: 92px;

    background-color: var(--color-black);
}

.header > div {
    padding: 19px 0 13px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > img {
    width: 218px;
    height: 51px;
}

.navigation-list {
    display: flex;
    gap: 27px;
}

.navigation-list a {
    color: var(--color-white);

    font-size: 14px;

    text-decoration: none;
    text-transform: uppercase;
}

.navigation-list-item:first-child a {
    color: var(--color-gold);

    text-decoration: underline;

    position: relative;
}

.navigation-list-item:first-child a::before {
    content: '';

    width: 16px;
    height: 16px;

    position: absolute;
    top: 100%;
    left: 38%;

    background-image: url(/assets/ArrowSelect.svg);
    background-repeat: no-repeat;

    pointer-events: none;
}

.callback {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.callback a, p {
    color: var(--color-gold);

    text-decoration: none;
}

.callback p:first-child {
    font-family: var(--font-medium);
    font-size: 20px;
}

.callback p:first-child::before {
    content: '';

    width: 16px;
    height: 16px;

    margin: 2px 10px 0 0;

    position: relative;
    float: left;

    background-image: url(/assets/IconTelephone.svg);
}

.callback a:last-child {
    font-size: 14px;

    margin-left: 26px;

    text-decoration: underline;
    text-transform: uppercase;
}

/* Main Section */

.main-section {
    height: 812px;

    position: relative;

    background-image: url(/assets/SectionMain/MainHero.png);
    background-size: cover;

}

.gradient-rectangle {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 0;

    width: 80%;
    height: 661px;

    background-image: radial-gradient(at 5% 100%, var(--color-lighter-black) 50%, var(--color-white) 100%);

    opacity: 30%;
}

.vector-design {
    position: absolute;
    top: 0;
    right: 0;

    z-index: 0;

    width: 70%;
    height: 100%;
}

.vector-design img {
    position: absolute;
}

.vector-design img:nth-child(1) {
    bottom: 0px;
    right: 115.17px;
}

.vector-design img:nth-child(2) {
    top: 115.29px;
    left: 12.02px;
}

.vector-design img:nth-child(3) {
    top: 113.2px;
    left: 39.56px;
}

.vector-design img:nth-child(4) {
    bottom: 8.83px;
    right: 71.02px;
}

.vector-design img:nth-child(5) {
    top: 253.12px;
    left: 366.33px;
}

.vector-design img:nth-child(6) {
    bottom: 64.93px;
    left: 427.36px;
}

.vector-design img:nth-child(7) {
    bottom: 283.73px;
    right: 257.66px;
}

.vector-design img:nth-child(8) {
    top: 197.77px;
    right: 201.7px;
}

.vector-design img:nth-child(9) {
    bottom: 83.35px;
    left: 0;
}

.vector-design img:nth-child(10) {
    top: 107.08px;
    left: 178.98px;
}

.vector-design img:nth-child(11) {
    bottom: 5.99px;
    right: 272.02px;
}

.main-section-content {
    height: 100%;

    position: relative;

    z-index: 1;
}

.offer {
    position: absolute;
    top: 179px;
    left: 15%;

    z-index: 2;

    width: 572px;
    height: 345px;
}

.offer h1 {
    font-size: 64px;
    font-family: var(--font-bold);
    line-height: 120%;

    color: var(--color-white);

    margin-bottom: 57px;
}

.submit {
    position: relative;

    width: 255px;
    height: 50px;
}

.submit button {
    position: relative;

    z-index: 2;

    font-size: 14px;
    font-family: var(--font-roman);

    text-transform: uppercase;

    color: var(--color-black);
    background-color: var(--color-white);

    width: inherit;
    height: inherit;

    border-radius: 2px;
}

.submit div {
    position: absolute;
    top: 7px;
    left: 6px;

    width: 100%;
    height: 100%;

    border: 1px solid var(--color-gold);
    border-radius: 2px;

    pointer-events: none;
}

.scroll {
    width: 100%;
    height: 458px;

    position: absolute;

    bottom: 27px;
}

.scroll img {
    position: absolute;
    bottom: 81px;
    left: 45%;
}

.arrows-white {
    display: flex;
    justify-content: space-between;
}

.arrows-white button {
    width: 55px;
    height: 55px;
}

.arrows-white button:first-child {
    background-image: url(/assets/ArrowLeftWhite.svg);
}

.arrows-white button:last-child {
    background-image: url(/assets/ArrowRightWhite.svg);
}

.arrow-down {
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 44px;
    height: 44px;

    background-image: url(/assets/ArrowDown.svg);
}

/* Advantages Section */

.advantages-section {
    height: 348px;

    background-color: var(--color-white);
}

.advantages-section-content {
    padding-top: 61px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.advantages-section h2 {
    font-size: 36px;
    font-family: var(--font-roman);
}

.advantages {
    display: flex;
    gap: 32px;
}

.advantages div {
    width: 255px;
    height: 122px;

    text-align: center;
}

.advantages hr {
    width: 100%;
    height: 6px;

    background-color: var(--color-gold);
}

.advantages h1 {
    font-size: 64px;
    font-family: var(--font-bold);

    margin: 6px 0;
}

.advantages span {
    font-size: 40px;
}

.advantages p {
    font-size: 16px;
    font-family: var(--font-roman);

    color: var(--color-black);
}